.weather-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    width: 100%;
    height: 100%;
}
.weather-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.weather-temp {
    display: flex;
    justify-content: space-between;
}

.weather-temp > img {
    flex-basis: 60%;
    flex-shrink: 1;
}

.weather-temp-i {
    flex-basis: 40%;
    font-size: 4.5rem;
}

.weather-details {
    align-items: flex-start;
    text-align: left;
}