.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  background-color: cadetblue;
}

.App main {
  flex-grow: 2;
  height: 100%;
  max-width: 1488px;
  margin: 0 auto;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
