.main-component {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.main-component-weather {
    align-self: center;
    min-width: 200px;
    width: auto;
    padding: 8px;
    box-sizing: content-box;
}